In [1]:
import scanpy as sc
import numpy as np
import pandas as pd

import scipy

In [168]:
fileLoc = "../data/"
lungTimeNorm = fileLoc + "GSE154989_mmLungPlate_fQC_dSp_normTPM.h5"
lungTimeRaw = fileLoc + "GSE154989_mmLungPlate_fQC_dSp_rawCount.h5"
lungTimeRAWOrig = fileLoc + "GSE154989_mmLungPlate_fQC_dSp_rawCountOrig.h5"
luadGeneNames = fileLoc + "GSE154989_mmLungPlate_fQC_geneTable.csv"
luadCell = fileLoc + "GSE154989_mmLungPlate_fQC_smpTable.csv"
luadObs = fileLoc + "GSE154989_mmLungPlate_fQC_dZ_annot_smpTable.csv"

In [4]:
fileLoc = "../data/luadCis/"
fileName = "GSE154977_mmLung10x_cis_"
lungTimeNorm = fileLoc + fileName + "dSp_normTPM.h5"
lungTimeRaw = fileLoc + fileName + "dSp_rawCount.h5"
luadGeneNames = fileLoc+ fileName  + "geneTable.csv"
luadCell = fileLoc+ fileName  + "smpTable.csv"
luadObs = fileLoc+ fileName  + "dZ_annot_annot_smpTable.csv"

In [7]:
luadGenes = pd.read_csv(luadGeneNames)#[["geneID","geneSymbol"]]
luadGenes.index = list(luadGenes["geneID"])
luadGenes

                        geneID              ensgID
Xkr4                      Xkr4  ENSMUSG00000051951
Gm1992                  Gm1992  ENSMUSG00000089699
Gm37381                Gm37381  ENSMUSG00000102343
Rp1                        Rp1  ENSMUSG00000025900
Rp1                        Rp1  ENSMUSG00000109048
...                        ...                 ...
PISD                      PISD  ENSMUSG00000095041
DHRSX                    DHRSX  ENSMUSG00000063897
Vmn2r122              Vmn2r122  ENSMUSG00000096730
CAAA01147332.1  CAAA01147332.1  ENSMUSG00000095742
tdTomato              tdTomato            tdTomato

[27999 rows x 2 columns]

In [8]:
cellIds = pd.read_csv(luadCell)
#cellIds.index = list(cellIds["sampleID"])

cellVar = pd.read_csv(luadObs)
#cellVar.index = list(cellVar["sampleID"])

totalVar = cellIds.merge(cellVar)
totalVar.index = list(totalVar["sampleID"])
totalVar

,sampleID,barcode,tSNE_X,tSNE_Y,timecourse_pred_cluster
KP_30w_Cis72_m5_PT_id-AAACCTGAGATCCGAG,KP_30w_Cis72_m5_PT_id-AAACCTGAGATCCGAG,AAACCTGAGATCCGAG,-1.523674,-2.983878,8
KP_30w_Cis72_m5_PT_id-AAACCTGAGATGTCGG,KP_30w_Cis72_m5_PT_id-AAACCTGAGATGTCGG,AAACCTGAGATGTCGG,-38.639929,27.060925,8
KP_30w_Cis72_m5_PT_id-AAACCTGAGGTGCACA,KP_30w_Cis72_m5_PT_id-AAACCTGAGGTGCACA,AAACCTGAGGTGCACA,26.837151,15.635170,5
KP_30w_Cis72_m5_PT_id-AAACCTGGTTACGGAG,KP_30w_Cis72_m5_PT_id-AAACCTGGTTACGGAG,AAACCTGGTTACGGAG,26.969198,15.804083,5
KP_30w_Cis72_m5_PT_id-AAACGGGAGCGATCCC,KP_30w_Cis72_m5_PT_id-AAACGGGAGCGATCCC,AAACGGGAGCGATCCC,42.149292,13.498483,5
...,...,...,...,...,...
KP_30w_ND_m4_PT_id-TTTGTCAAGCCAGTTT,KP_30w_ND_m4_PT_id-TTTGTCAAGCCAGTTT,TTTGTCAAGCCAGTTT,7.692371,23.021170,6
KP_30w_ND_m4_PT_id-TTTGTCAAGCTGCGAA,KP_30w_ND_m4_PT_id-TTTGTCAAGCTGCGAA,TTTGTCAAGCTGCGAA,9.278694,34.643707,6
KP_30w_ND_m4_PT_id-TTTGTCAAGGCTCATT,KP_30w_ND_m4_PT_id-TTTGTCAAGGCTCATT,TTTGTCAAGGCTCATT,-5.229723,-50.738663,9
KP_30w_ND_m4_PT_id-TTTGTCACAGCTTCGG,KP_30w_ND_m4_PT_id-TTTGTCACAGCTTCGG,TTTGTCACAGCTTCGG,7.397841,-35.568836,4
KP_30w_ND_m4_PT_id-TTTGTCAGTCTAACGT,KP_30w_ND_m4_PT_id-TTTGTCAGTCTAACGT,TTTGTCAGTCTAACGT,1.934218,-29.848149,8

In [9]:
import h5py
filename = lungTimeRaw

with h5py.File(filename, "r") as f:
    # List all groups
    print("Keys: %s" % f.keys())
    # Get the data
    i = np.array(f[list(f.keys())[0]])[0]
    j = np.array(f[list(f.keys())[1]])[0]
    v = np.array(f[list(f.keys())[2]])[0]

Keys: <KeysViewHDF5 ['i', 'j', 'v']>

In [10]:
i=np.concatenate((["%%MatrixMarket matrix coordinate real general","%",str(int(max(i)))],i.astype(int)))
j=np.concatenate((["","",str(int(max(j)))],j.astype(int)))
v=np.concatenate((["","",str(int(len(v)))],v.astype(int)))

In [11]:
exp = pd.DataFrame(data={"i":i,"j":j,"v":v})
exp

                                                      i      j         v
0         %%MatrixMarket matrix coordinate real general
1                                                     %
2                                                 27999  11017  42190257
3                                                    11      1         1
4                                                    34      1         1
...                                                 ...    ...       ...
42190255                                          27921  11017        42
42190256                                          27934  11017         1
42190257                                          27995  11017         2
42190258                                          27996  11017         1
42190259                                          27999  11017        31

[42190260 rows x 3 columns]

In [12]:
exp.to_csv(fileLoc + "matrix.mtx", sep="\t", index=False, header=False)

In [20]:
adata = sc.read_mtx(fileLoc+"matrix.mtx",dtype="float")

In [21]:
adata.obs = luadGenes
adata.var = totalVar
adata.var_names_make_unique()
#adata = adata.T

In [22]:
adata.write(fileLoc + "luadCisAdata.h5ad")

/Users/jonathanrub/miniforge3/envs/scell/lib/python3.10/site-packages/anndata/_core/anndata.py:1228: FutureWarning: The `inplace` parameter in pandas.Categorical.reorder_categories is deprecated and will be removed in a future version. Reordering categories will always return a new Categorical object.
  c.reorder_categories(natsorted(c.categories), inplace=True)
... storing 'geneID' as categorical
/Users/jonathanrub/miniforge3/envs/scell/lib/python3.10/site-packages/anndata/_core/anndata.py:1228: FutureWarning: The `inplace` parameter in pandas.Categorical.reorder_categories is deprecated and will be removed in a future version. Reordering categories will always return a new Categorical object.
  c.reorder_categories(natsorted(c.categories), inplace=True)
... storing 'barcode' as categorical

In [23]:
adata.obs

                        geneID              ensgID
Xkr4                      Xkr4  ENSMUSG00000051951
Gm1992                  Gm1992  ENSMUSG00000089699
Gm37381                Gm37381  ENSMUSG00000102343
Rp1                        Rp1  ENSMUSG00000025900
Rp1                        Rp1  ENSMUSG00000109048
...                        ...                 ...
PISD                      PISD  ENSMUSG00000095041
DHRSX                    DHRSX  ENSMUSG00000063897
Vmn2r122              Vmn2r122  ENSMUSG00000096730
CAAA01147332.1  CAAA01147332.1  ENSMUSG00000095742
tdTomato              tdTomato            tdTomato

[27999 rows x 2 columns]

In [24]:
adata.var

,sampleID,barcode,tSNE_X,tSNE_Y,timecourse_pred_cluster
KP_30w_Cis72_m5_PT_id-AAACCTGAGATCCGAG,KP_30w_Cis72_m5_PT_id-AAACCTGAGATCCGAG,AAACCTGAGATCCGAG,-1.523674,-2.983878,8
KP_30w_Cis72_m5_PT_id-AAACCTGAGATGTCGG,KP_30w_Cis72_m5_PT_id-AAACCTGAGATGTCGG,AAACCTGAGATGTCGG,-38.639929,27.060925,8
KP_30w_Cis72_m5_PT_id-AAACCTGAGGTGCACA,KP_30w_Cis72_m5_PT_id-AAACCTGAGGTGCACA,AAACCTGAGGTGCACA,26.837151,15.635170,5
KP_30w_Cis72_m5_PT_id-AAACCTGGTTACGGAG,KP_30w_Cis72_m5_PT_id-AAACCTGGTTACGGAG,AAACCTGGTTACGGAG,26.969198,15.804083,5
KP_30w_Cis72_m5_PT_id-AAACGGGAGCGATCCC,KP_30w_Cis72_m5_PT_id-AAACGGGAGCGATCCC,AAACGGGAGCGATCCC,42.149292,13.498483,5
...,...,...,...,...,...
KP_30w_ND_m4_PT_id-TTTGTCAAGCCAGTTT,KP_30w_ND_m4_PT_id-TTTGTCAAGCCAGTTT,TTTGTCAAGCCAGTTT,7.692371,23.021170,6
KP_30w_ND_m4_PT_id-TTTGTCAAGCTGCGAA,KP_30w_ND_m4_PT_id-TTTGTCAAGCTGCGAA,TTTGTCAAGCTGCGAA,9.278694,34.643707,6
KP_30w_ND_m4_PT_id-TTTGTCAAGGCTCATT,KP_30w_ND_m4_PT_id-TTTGTCAAGGCTCATT,TTTGTCAAGGCTCATT,-5.229723,-50.738663,9
KP_30w_ND_m4_PT_id-TTTGTCACAGCTTCGG,KP_30w_ND_m4_PT_id-TTTGTCACAGCTTCGG,TTTGTCACAGCTTCGG,7.397841,-35.568836,4
KP_30w_ND_m4_PT_id-TTTGTCAGTCTAACGT,KP_30w_ND_m4_PT_id-TTTGTCAGTCTAACGT,TTTGTCAGTCTAACGT,1.934218,-29.848149,8

In [196]:
adataR = sc.read(fileLoc + "luadAdata.h5ad")
adataR

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.

AnnData object with n_obs × n_vars = 52638 × 3891
    obs: 'geneID', 'geneSymbol'
    var: 'sampleID', 'plateID', 'mouseID', 'timesimple', 'typeID', 'clusterK12', 'tSNE_1', 'tSNE_2', 'phate_1', 'phate_2'

In [197]:
adataR.obs

                                     geneID  geneSymbol
Gnai3            ENSMUSG00000000001.4_Gnai3       Gnai3
Pbsn             ENSMUSG00000000003.15_Pbsn        Pbsn
Cdc45           ENSMUSG00000000028.14_Cdc45       Cdc45
H19               ENSMUSG00000000031.15_H19         H19
Scml2           ENSMUSG00000000037.16_Scml2       Scml2
...                                     ...         ...
AC154305.4  ENSMUSG00000114966.1_AC154305.4  AC154305.4
AC161884.2  ENSMUSG00000114967.1_AC161884.2  AC161884.2
AC130217.2  ENSMUSG00000114968.1_AC130217.2  AC130217.2
KRASG12D          kallistoKRASG12D_KRASG12D    KRASG12D
tdTomato                  tdTomato_tdTomato    tdTomato

[52638 rows x 2 columns]